<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit your pet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="updatePetForm" class="col-xs-12 col-sm-12 col-md-12" th:action="@{/pets/update}"
                  th:object="${pet}" method="post">
                <fieldset>
                    <div class="row" style="margin-top: 2em">
                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <input type="text" name="name" id="updatePetName" th:field="*{name}"
                                   class="form-control input-lg"
                                   placeholder="Pet name" required="true" autofocus="true"/>
                            <p class="text-danger" th:each="error : ${#fields.errors('name')}"
                               th:text="${error}">Validation error</p>
                        </div>


                        <div class="form-group col-xs-6 col-sm-6 col-md-6">
                            <select class="form-control" th:field="*{type}" id="updatePetType">
                                <option value="0">Select pet Type</option>
                                <option th:each="operator : ${petTypes}" th:value="${operator.id}"
                                        th:text="${operator.name}"></option>
                            </select>
                        </div>
                    </div>

                </fieldset>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>