<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PetClinic</title>
    <meta charset="utf-8"/>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
    <div class="row" style="margin-top:15em">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
             style="max-width: 800px; margin: 0 auto; font-size: 1.2em">
            <H1 style="text-align: center">Welcome to PetClinic application</H1>
            <p style="margin-top: 2em"> Please <a th:href="@{/login}">login</a> or <a th:href="@{/signup}">create an
                account</a> to access our amazing features such as:</p>
            <ul>
                <li><a th:href="@{/user}">Adding your pet</a> to your account</li>
                <li>Viewing the <a th:href="@{/user/issues}"> history of issues</a> with you can be sorted by issue ID,
                    pet or doctor
                </li>
                <li>And more :)</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>