<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid text-center">
    <div class="row" style="margin-top:5em">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
             style="max-width: 800px; margin: 0 auto;">

            <table class="table" style="margin-top: 2em">
                <thead>
                <tr>
                    <th th:text="#{msg.id.id}"></th>
                    <th th:text="#{msg.name.name}"></th>
                    <th th:text="#{issues.doctor}"></th>
                    <th th:text="#{issues.issue}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="issue, iStat : ${issuesPage.content}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td th:text="${issue.id}"></td>
                    <td th:text="${issue.name}"></td>
                    <td th:text="${issue.type}"></td>
                </tr>
                </tbody>
            </table>
            <div class="row justify-content-md-center">
                <div th:if="${issuesPage.totalPages > 0}" class="col-1"
                     th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/user(size=${issuesPage.size}, page=${pageNumber})}"
                       th:text=${pageNumber}
                       th:class="${pageNumber==issuesPage.number + 1 ? 'btn btn-outline-primary' : 'btn btn-primary'}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>