<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid text-center">
    <div class="row" style="margin-top:5em">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
             style="max-width: 800px; margin: 0 auto;">

            <h1>Issues history</h1>

            <div class="row" style="margin-top: 2em; text-align: center">

                <p style="margin-top: 0.5rem">Sort by</p>

                <div class="form-group col-xs-3 col-sm-3 col-md-3">
                    <select class="form-control" th:object="${sortBy}" id="sortDropOperator">
                        <option value="0">Sort by</option>
                        <option value="1" th:text="#{base.id}">sort</option>
                        <option value="2" th:text="#{base.name}"></option>
                        <option value="3" th:text="#{issues.doctor}"></option>
                        <option value="4" th:text="#{issues.description}"></option>
                    </select>
                </div>

                <p style="margin-top: 0.5rem">Sort direction</p>

                <div class="form-group col-xs-3 col-sm-3 col-md-3">
                    <select class="form-control" th:object="${sortDirection}" id="directionDropOperator">
                        <option value="0">Sort direction</option>
                        <option value="1">Ascending order</option>
                        <option value="2">Descending order</option>
                    </select>
                </div>
            </div>


            <table class="table" th:id="issues-table">
                <thead>
                <tr>
                    <th th:text="#{base.id}"></th>
                    <th th:text="#{base.name}"></th>
                    <th th:text="#{issues.doctor}"></th>
                    <th th:text="#{issues.description}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="issue, iStat : ${issuesPage.content}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td th:text="${issue.id}"></td>
                    <td th:text="${issue.pet.name}"></td>
                    <td th:text="${issue.doctor.firstName + ' ' + issue.doctor.lastName }"></td>
                    <td th:text="${issue.issue}"></td>
                </tr>
                </tbody>
            </table>
            <div class="row justify-content-md-center">
                <div th:if="${issuesPage.totalPages > 1}" class="col-1"
                     th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/user/issues(size=${issuesPage.size}, page=${pageNumber})}"
                       th:text=${pageNumber}
                       th:class="${pageNumber==issuesPage.number + 1 ? 'btn btn-outline-primary' : 'btn btn-primary'}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>