<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid text-center">
    <div class="row" style="margin-top:5em">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
             style="max-width: 800px; margin: 0 auto;">
            <form th:action="@{/pets}" th:object="${pet}" method="post">
                <fieldset>
                    <h1 th:inline="text">Hello [[${user.username}]]!</h1>

                    <div class="row" style="margin-top: 2em">
                        <div class="form-group col-xs-6 col-sm-6 col-md-4">
                            <input type="text" name="name" id="name" th:field="*{name}"
                                   class="form-control input-lg"
                                   placeholder="UserName" required="true" autofocus="true"/>
                            <p class="text-danger" th:each="error : ${#fields.errors('name')}"
                               th:text="${error}">Validation error</p>
                        </div>


                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <select class="form-control" th:field="*{type}" id="dropOperator">
                                <option value="0">Select pet Type</option>
                                <option th:each="operator : ${petTypes}" th:value="${operator.id}"
                                        th:text="${operator.name}"></option>
                            </select>
                        </div>

                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <button type="submit" class="btn btn-primary btn-block">Add pet</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        <table border="1">
            <thead>
            <tr>
                <th th:text="#{msg.id}"/>
                <th th:text="#{msg.name}"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book, iStat : ${bookPage.content}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
                <td th:text="${book.id}"/>
                <td th:text="${book.name}"/>
            </tr>
            </tbody>
        </table>
        <div th:if="${bookPage.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/listBooks(size=${bookPage.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==bookPage.number + 1} ? active"></a>
        </div>
    </div>
</div>
</body>
</html>