<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <div th:replace="fragments/header :: header-css"></div>

    <link id="contextPathHolder" th:data-contextPath="@{/}"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid text-center">
    <div class="row" style="margin-top:5em">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"
             style="max-width: 800px; margin: 0 auto;">
            <form th:action="@{/pets}" th:object="${pet}" method="post">
                <fieldset>
                    <h1 th:inline="text">Hello [[${user}]]!</h1>

                    <div class="row" style="margin-top: 2em">
                        <div class="form-group col-xs-6 col-sm-6 col-md-4">
                            <input type="text" name="name" id="name" th:field="*{name}"
                                   class="form-control input-lg" placeholder="Pet name" required/>
                            <p class="text-danger" th:each="error : ${#fields.errors('name')}"
                               th:text="${error}">Validation error</p>
                        </div>


                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <select class="form-control" th:field="*{type}" id="dropOperator" required>
                                <option value="">Select pet Type</option>
                                <option th:each="operator : ${petTypes}" th:value="${operator.id}"
                                        th:text="${operator.name}"></option>
                            </select>
                            <p class="text-danger" th:each="error : ${#fields.errors('type')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <button type="submit" class="btn btn-primary btn-block">Add pet</button>
                        </div>
                    </div>

                </fieldset>
            </form>

            <div th:unless="${updateMessage.isBlank()}">
                <p th:text="${updateMessage}" class="text-danger"></p>
            </div>

            <table class="table" style="margin-top: 2em">
                <thead>
                <tr>
                    <th th:text="#{base.id}"></th>
                    <th th:text="#{base.name}"></th>
                    <th th:text="#{base.type}"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pet, iStat : ${petsPage.content}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">
                    <td th:text="${pet.id}"></td>
                    <td th:text="${pet.name}"></td>
                    <td th:text="${pet.type}"></td>
                    <td>
                        <button type="button"
                                th:attr="data-object-id=''+${pet.id}+'', data-object-name=''+${pet.name}+'',
                                data-object-type=''+${pet.type.id}+'',data-object-index=''+${iStat.index}+'',
                                 data-target='#updatePet'" class="btn btn-primary" data-toggle="modal">
                            Edit
                        </button>
                        <button type="button"
                                th:attr="data-object-id=''+${pet.id}+'', data-target='#deletePet'"
                                class="btn btn-danger" data-toggle="modal">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row justify-content-md-center">
                <div th:if="${petsPage.totalPages > 1}" class="col-1"
                     th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/user(size=${petsPage.size}, page=${pageNumber})}"
                       th:text=${pageNumber}
                       th:class="${pageNumber==petsPage.number + 1 ? 'btn btn-primary' : 'btn btn-outline-primary'}"></a>
                </div>
            </div>


            <th:block th:replace="modal/edit_pet :: modal('updatePet')">modal</th:block>
            <th:block th:replace="modal/delete_pet :: modal('deletePet')">modal</th:block>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper/1.12.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    <div th:replace="modal/edit_pet :: editPetScripts"></div>

</div>
</body>
</html>